@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
body {
  font-family: 'Press Start 2P', cursive;
  color: #00aa00;
  background-color: rgb(0, 0, 0);
}
span {
  cursor: pointer;
}
